bin/
obj/
.vs/
/libs/Managed/Assembly-CSharp.dll
/libs/Managed/Assembly-CSharp-firstpass.dll
/libs backup/Managed/Assembly-CSharp.dll
/libs backup/Managed/Assembly-CSharp-firstpass.dll
/libs backup/Managed/Assembly-CSharpold.dll
/libs/Managed/Assembly-CSharpold.dll
/libs/Managed/Assembly-CSharpold.dll
/libs/Managed/Assembly-CSharp-firstpass.dll
/libs/Managed/Assembly-CSharp.dll
